@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    background-color: #eee;
}

h1 {
    text-align: center;
}

.drivers {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.driver {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 10px;
    width: 250px;
}

.rank {
    margin-block: 0;
    margin-inline: auto;
    border-radius: 100%;
    padding: 20px;
    text-align: center;
    font-size: xx-large;
    width: 2rem;
    height: 2rem;
}

.gold {
    color: hsl(51, 100%, 20%);
    background-color: gold;
}

.silver {
    color: hsl(0, 0%, 20%);
    background-color: silver;
}

.bronze {
    color: hsl(0, 59%, 20%);
    background-color: brown;
}

img {
    max-width: 10rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

ul {
    padding-left: 0;
    margin-block: 0;
    list-style-position: inside;
}

h3 {
    margin-block: 10px;
}

.first{
    top: 0;
}

.second {
    top: 80px;
}

.third {
    top: 160px;
}