main {
    display: flex;
    padding-inline: 20%;
    gap: 50px;
}

.question-button {
    display: block;
    width: 100px;
    height: 100px;
    margin-block: 30px;
    flex-shrink: 0;
}

.text {
    margin-block: 30px;
    display: flex;
    flex-direction: column;
}

#category {
    margin-bottom: 30px;
}

.question-wrapper {
    margin-bottom: 100px;
}